* {
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}
.container {
    max-width: 880px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid #707070;
}

.title {
    font-size: 35px;
}

.image {
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #707070;
}

.link {
    display: inline-block;
    margin-right: 20px;
}